    body { font-family: Arial, sans-serif; padding: 20px; }
    .phase { margin-bottom: 10px; }
    .phase-header { background-color: #4CAF50; color: white; cursor: pointer; padding: 10px; width: 100%; border: none; text-align: left; outline: none; font-size: 15px; }
    .active, .phase-header:hover { background-color: #45a049; }
    .phase-content { padding: 0 18px; display: none; overflow: hidden; background-color: #f1f1f1; }
    table { width: 100%; border-collapse: collapse; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
    th { background-color: #f2f2f2; }
    h2{text-align: center;}